<div
		dx-container="medium"
		class="exam pv-900"
		ng-class="{'rtl': exam.rightToLeft}">

	<loader ng-show="isLoading">
		<p class="text-center">Loading exam</p>
	</loader>

	<div ng-show="!isLoading">
		<div class="exam-title">
			<h1 class="text-center">{{exam.title}}</h1>
		</div>

		<div class="exam-about mv-700">
			<p class="pre-wrap">{{exam.about}}</p>
		</div>

		<div class="question-wrapper">

			<div class="question sheet" ng-repeat="q in exam.questions">
				<h3 class="question-title mb">{{q.title}}</h3>

				<p class="pre-wrap mv">{{q.about}}</p>

				<div class="question-images mv">
					<dx-image-list images="q.images" track="q.id"></dx-image-list>
				</div>

				<p class="text-bold mv">
					Max score: {{q.maxScore}}
				</p>

				<dx-block-editor-manager
						ng-if="q.type == QuestionType.TEXT_QUESTION"
						question="q"
						answer="answers[$index]"
						on-change="onAnswerChange">
				</dx-block-editor-manager>

				<ul class="single-choice-question unstyledList spacedList" ng-if="q.type == QuestionType.SINGLE_CHOICE">
					<li ng-repeat="a in q.alternatives">
						<label for="a-{{a.$$hashKey}}" class="radio">
							<input
									type="radio"
									id="a-{{a.$$hashKey}}"
									ng-checked="answers[$parent.$index].hasThisAlternative(a.id)"
									ng-click="answers[$parent.$index].setCorrectAlternative(a.id); onAnswerChange(answers[$parent.$index])" />
							{{a.title}}
						</label>
					</li>
				</ul>

				<ul class="multi-choice-question unstyledList spacedList" ng-if="q.type == QuestionType.MULTIPLE_CHOICE">
					<li ng-repeat="a in q.alternatives">
						<label for="a-{{a.$$hashKey}}" class="checkbox">
							<input
									type="checkbox"
									id="a-{{a.$$hashKey}}"
									ng-checked="answers[$parent.$index].hasThisAlternative(a.id)"
									ng-click="answers[$parent.$index].toggleCorrectAlternative(a.id); onAnswerChange(answers[$parent.$index])" />
							{{a.title}}
						</label>
					</li>
				</ul>
			</div>
		</div>

		<div class="exam-control clearfix" ng-show="showTurnInButton">
			<button class="btn btn-green btn-raised exam-turn-in-btn floatRight" ng-click="confirmTurnIn()">Hand in exam and exit</button>
		</div>
	</div>
</div>
