<!DOCTYPE HTML>
<html ng-app="digiexam-preconditiontest" ng-csp="">
<head>
	<title>DigiExam Precondition Test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<script type="text/javascript">
        window.$ = window.jQuery = require('./jquery.js');
    </script>
	<link rel="stylesheet" type="text/css" href="css/libs.min.css" />
	<link rel="stylesheet" type="text/css" href="css/main.min.css" />
	<script src="js/libs.min.js" type="text/javascript"></script>
</head>
<body>
	<div flex="30" class="sheet text-center" ng-controller="preconditiontest-controller">
		<div ng-hide="hasWarnings() || hasFatalFails()" class="m">
			<p>Running precondition tests</p>
			<img src="images/loading.gif" />
		</div>
		<div class="m">
			<div ng-show="hasWarnings() || hasFatalFails()">
				<div ng-show="hasWarnings()">
					<h3>Warnings: {{warningArray.length}}</h3>
					<div ng-repeat="warning in warningArray">
						<strong>Type:</strong> {{warning.failTitle}}
						<br />
						<strong>Description:</strong> {{warning.failMessage}}
					</div>
				</div>

				<div ng-show="hasFatalFails()">
					<h3>Fatal fails: {{fatalFailArray.length}}</h3>
					<div ng-repeat="fatal in fatalFailArray">
						<strong>Type:</strong> {{fatal.failTitle}}
						<br />
						<strong>Description:</strong> {{fatal.failMessage}}
					</div>
				</div>
				<div ng-switch="state">
					<div ng-switch-when="warning">
						<button class="btn btn-raised" ng-click="continue()">Continue</button>
					</div>
					<div ng-switch-when="fatal">
						<button class="btn btn-raised" ng-click="close()">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/config.js" type="text/javascript"></script>
	<script src="js/main.min.js" type="text/javascript"></script>
</body>
</html>
