.exam
{
	.loader { margin-top: 100px; }

	.question-wrapper
	{
		margin: $exam-question-wrapper-margin;
	}

	.question
	{
		margin: $exam-question-margin;
	}

	.question-images
	{
		margin-top: 20px;
	}

	.thumb, .thumb img
	{
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}

	.thumb
	{
		position: relative;
		padding: 1px;
		border: 1px solid silver;
		border-radius: 2px;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.thumb img
	{
		width: auto;
		height: auto;
		max-width: 100px;
		max-height: 75px;
	}
}
