<dialog>
	<header>
		<h1>DXLocalStorage error</h1>
	</header>

	<div class="modal-body mv">
		<p class="mb-300">This computers storage has issues. DigiExam can't continue.</p>
		<p class="mb-300">Potential issues: </p>
		<ul class="mb-300">
			<li>
				Not enough storage space on harddrive
			</li>
			<li>
				Data might have been corrupted
			</li>
		</ul>
		<p>Please talk to authorized IT-staff.</p>
	</div>

	<footer class="text-right">
		<button class="btn btn-positive" ng-click="close()">Close DigiExam</button>
	</footer>
</dialog>
