<div layout layout-align="start start" layout-padding id="overview">
	<div flex="33">
		<div class="sheet">
			<h3 class="mb-300">A. Find exams</h3>

			<button class="btn btn-raised" ng-click="refreshExams()">Refresh exams</button>
		</div>

		<div class="sheet">
			<h3 class="mb-300">B. Open exam</h3>

			<label for="overViewOpenExamCode" class="display-block">Enter exam ID</label>
			<input type="number" min="0" inputmode="numeric" pattern="[0-9]*" ng-model="openExamCode" id="overViewOpenExamCode" ng-enter="getOpenExam()" />

			<button class="btn btn-raised btn-green mt-300"
				ng-click="getOpenExam()"
				ng-disabled="!isValidOpenExamCode(openExamCode)">
				Get open exam
			</button>
			<span class="color-text-error ml" ng-show="openExamError.length > 0">
				{{openExamError}}
			</span>
		</div>
		<div class="sheet">
			<h3 class="mb-300">C. Offline exam</h3>

			<span ng-if="DX_PLATFORM !== 'IOS_WEBVIEW'">
				<p class="mv-300">Your mentor will provide you with this on a USB-stick.</p>

				<button class="btn btn-raised" ng-click="openOfflineFile()">Load exam from device</button>
				<span class="color-text-error ml" ng-show="openOfflineFileError.length > 0">
					{{openOfflineFileError}}
				</span>
			</span>

			<span ng-if="DX_PLATFORM === 'IOS_WEBVIEW'">
				<p>Not supported on iOS devices</p>
			</span>
		</div>

		<div class="sheet">
			<h3 class="mb-300">D. Start demo exam</h3>

			<p class="mv-300">You can start a demo exam here</p>

			<button class="btn btn-raised" ng-click="getDemoExam()">Get demo exam</button>
			<span class="color-text-error ml" ng-show="demoExamError.length > 0">
				{{demoExamError}}
			</span>
		</div>
	</div>

	<div flex="33">
		<div class="sheet">
			<loader ng-show="loadingExams">
				<p class="text-center">Loading exams...</p>
			</loader>

			<div class="alert alert-info" ng-show="exams.length == 0 && !loadingExams">
				<p>Could not find exams.</p>
			</div>

			<ul class="examlist" ng-show="exams.length > 0 && !loadingExams">
				<li ng-repeat="exam in exams"
					ng-class="{selected: selectedExam.id == exam.id}">
					<a href="" ng-click="toggleSelectedExam(exam)">
						{{exam.title}}
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div flex="33" ng-show="exams.length > 0">
		<div class="sheet">
			<div class="alert alert-info" ng-show="selectedExam == null && !loadingExams">
				<p>No exam selected. Please select an exam.</p>
			</div>

			<div class="overview-exam-details" ng-if="selectedExam != null">
				<h2 class="text-normal">{{selectedExam.title}}</h2>

				<div class="overview-exam-details-description mb mt-300">
					<p class="pre-wrap">{{getDescription(selectedExam)}}
						<a href="" ng-click="toggleExamDescription()" ng-show="selectedExam.about.length > 299 && truncateDescription">
							<span ng-show="truncateDescription">more</span>
						</a>
					</p>
				</div>
			</div>
			<div>
				<button class="btn btn-green btn-raised floatRight"
					ng-click="confirmStartExam(selectedExam.id)"
					ng-show="selectedExam != null && !loadingExam">Start exam</button>
				<div style="clear: right;"></div>
			</div>
		</div>
	</div>
</div>
